Source: portage
Maintainer: Yangfl <mmyangfl@gmail.com>
Section: admin
Priority: optional
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3,
               python3-setuptools,
               xmlto
Standards-Version: 4.4.0
Vcs-Browser: https://salsa.debian.org/yangfl-guest/portage
Vcs-Git: https://salsa.debian.org/yangfl-guest/portage.git
Homepage: https://wiki.gentoo.org/wiki/Project:Portage

Package: portage
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: GUI and command-line interface to optimize image files
 Trimage is a cross-platform GUI and command-line interface to optimize image
 files via optipng, advpng, pngcrush and jpegoptim, depending on the filetype
 (currently, PNG and JPG files are supported). All image files are losslessly
 compressed on the highest available compression levels. Trimage gives you
 various input functions to fit your own workflow: A regular file dialog,
 dragging and dropping and various command line options.
