#!/usr/bin/make -f

export PYBUILD_INSTALL_ARGS = --docdir /usr/share/doc/portage

%:
	dh $@ -Spybuild --with python3

override_dh_auto_build:
	dh_auto_build
	#python3 setup.py docbook

override_dh_auto_test:
	true

override_dh_auto_install:
	dh_auto_install
	for i in $$(find bin -type l); do \
		cp -d $$i debian/portage/usr/lib/portage/$$(dirname $$i); \
	done

override_dh_python3:
# these sh files are deliberately named as *.so
	mv debian/portage/usr/lib/portage/bin/ebuild-helpers/dolib.so debian/portage/usr/lib/portage/bin/ebuild-helpers/dolib.so.bak
	mv debian/portage/usr/lib/portage/bin/ebuild-helpers/newlib.so debian/portage/usr/lib/portage/bin/ebuild-helpers/newlib.so.bak
	dh_python3
	mv debian/portage/usr/lib/portage/bin/ebuild-helpers/dolib.so.bak debian/portage/usr/lib/portage/bin/ebuild-helpers/dolib.so
	mv debian/portage/usr/lib/portage/bin/ebuild-helpers/newlib.so.bak debian/portage/usr/lib/portage/bin/ebuild-helpers/newlib.so
